version: 2

updates:
  - package-ecosystem: 'docker'
    directory: '/'
    schedule:
      interval: 'daily'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'

  - package-ecosystem: 'npm'
    directory: '/'
    open-pull-requests-limit: 10
    schedule:
      interval: 'daily'
    groups:
      typescript-eslint:
        patterns:
          - '@typescript-eslint/*'
