version: 2

updates:
  - package-ecosystem: 'docker'
    directory: '/'
    schedule:
      interval: 'daily'
    ignore:
      - dependency-name: 'playwright'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    groups:
      artifacts:
        patterns:
          - 'actions/download-artifact'
          - 'actions/upload-artifact'

  - package-ecosystem: 'npm'
    directory: '/'
    open-pull-requests-limit: 10
    schedule:
      interval: 'daily'
    groups:
      babel:
        patterns:
          - '@babel/*'
      effect:
        patterns:
          - '@effect/*'
          - 'effect'
        exclude-patterns:
          - '@effect/language-service'
      fast-check:
        patterns:
          - '@fast-check/*'
          - 'fast-check'
      keyv:
        patterns:
          - '@keyv/*'
          - 'keyv'
      stylelint:
        patterns:
          - 'stylelint'
          - 'stylelint-*'
      swc:
        patterns:
          - '@swc/*'
      tiptap:
        patterns:
          - '@tiptap/*'
