/.cache/
/.dev/server.crt
/.dev/server.key
/.git/
/.github/
/assets/locales/
/data/
/dist/
/integration/snapshots/
/integration-results/
/node_modules/
/src/locales/
/src/manifest.json
/visual-regression/snapshots/
/.env
/.env.dist
/.gitignore
/fly.*.toml
/LICENSE
/README.md
