{
  "arrowParens": "avoid",
  "embeddedHtmlTags": [""],
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "plugins": [
    "@prettier/plugin-xml",
    "prettier-plugin-embed",
    "prettier-plugin-organize-imports",
    "prettier-plugin-sh",
    "prettier-plugin-sql",
    "prettier-plugin-toml"
  ]
}
