{
  "arrowParens": "avoid",
  "importOrder": ["^[./]"],
  "importOrderSortSpecifiers": true,
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "plugins": ["@prettier/plugin-xml", "@trivago/prettier-plugin-sort-imports", "prettier-plugin-sh"]
}
