{
  "arrowParens": "avoid",
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "plugins": ["@prettier/plugin-xml", "prettier-plugin-organize-imports", "prettier-plugin-sh", "prettier-plugin-toml"]
}
