{
  "extends": ["stylelint-config-standard", "stylelint-config-property-sort-order-smacss"],
  "plugins": ["@csstools/stylelint-no-at-nest-rule", "stylelint-use-logical-spec"],
  "rules": {
    "@csstools/stylelint-no-at-nest-rule": true,
    "custom-property-pattern": "^[a-z]{1,}(-[a-z0-9]+|-{1,2}[0-9][a-z0-9]*)*$",
    "declaration-block-no-redundant-longhand-properties": [true, { "ignoreShorthands": ["gap"] }],
    "import-notation": "url",
    "liberty/use-logical-spec": true,
    "no-descending-specificity": null,
    "selector-not-notation": "complex"
  }
}
