services:
  app:
    build:
      context: .
      target: prod
    depends_on:
      - mailcatcher
      - redis
    env_file:
      - .env
    environment:
      - REDIS_URI=redis://redis:6379
      - HTTP_CACHE_REDIS_URI=redis://redis:6379
      - HTTP_CACHE_READONLY_FALLBACK_REDIS_URI=redis://localhost:6379
      - SMTP_URI=smtp://mailcatcher:1025
    ports:
      - 3000:3000
  mailcatcher:
    image: sj26/mailcatcher
    ports:
      - 1025:1025
      - 1080:1080
  nginx:
    image: nginx
    ports:
      - 443:443
    volumes:
      - './.dev:/etc/nginx:ro'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
  opentelemetry:
    image: grafana/otel-lgtm
    ports:
      - 3001:3000
      - 4317:4317
      - 4318:4318
  postgres:
    image: postgres:17
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: password
  redis:
    build:
      context: .
      target: redis
    ports:
      - 6379:6379
