version: '3'

services:
  mailcatcher:
    image: sj26/mailcatcher
    ports:
      - 1025:1025
      - 1080:1080
  nginx:
    image: nginx
    ports:
      - 443:443
    volumes:
      - './.dev:/etc/nginx:ro'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
  redis:
    image: redis
    ports:
      - 6379:6379
