app = "prereview-translate"
primary_region = "iad"

[[vm]]
size = "shared-cpu-2x"

[deploy]
strategy = "bluegreen"

[env]
AI_REVIEWS_AS_CC0 = "true"
ASK_AI_REVIEW_EARLY = "true"
CAN_REVIEW_DATASETS = "true"
COAR_NOTIFY_URL = "https://coar-notify-sandbox.prereview.org/"
ENVIRONMENT_LABEL = "sandbox"
HTTP_CACHE_REDIS_URI_TEMPLATE = "redis://{region}.http-cache-sandbox.internal?family=6"
HTTP_CACHE_READONLY_FALLBACK_REDIS_URI = "redis://localhost:6379"
LEGACY_PREREVIEW_URL = "https://prereview2.azurewebsites.net/"
LOG_FORMAT = "json"
ORCID_API_URL = "https://api.orcid.org/"
PUBLIC_URL = "https://translate.prereview.org/"
SEND_COAR_NOTIFY_MESSAGES = "sandbox"
SLACK_REQUEST_REVIEW_CHANNEL_ID = "C05N0JHBC1Y"
SLACK_SHARE_REVIEW_CHANNEL_ID = "C05V6TXHETS"
USE_CROWDIN_IN_CONTEXT = "true"
ZENODO_URL = "https://sandbox.zenodo.org/"

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = "suspend"
auto_start_machines = true
min_machines_running = 0

[http_service.concurrency]
type = "requests"
hard_limit = 30
soft_limit = 20

[[http_service.checks]]
grace_period = "15s"
interval = "5s"
method = "get"
path = "/health"
protocol = "http"
timeout = "1s"
