app = "prereview"
primary_region = "iad"

[[vm]]
size = "shared-cpu-2x"
memory = "2gb"

[deploy]
strategy = "bluegreen"

[env]
AI_REVIEWS_AS_CC0 = "true"
ALLOW_SITE_CRAWLERS = "true"
ASK_AI_REVIEW_EARLY = "true"
CAN_ADD_MULTIPLE_AUTHORS = "true"
CAN_REVIEW_DATASETS = "true"
COAR_NOTIFY_URL = "https://coar-notify.prereview.org/"
FATHOM_SITE_ID = "FEAJEBBA"
HTTP_CACHE_REDIS_URI_TEMPLATE = "redis://{region}.http-cache.internal?family=6"
HTTP_CACHE_READONLY_FALLBACK_REDIS_URI = "redis://localhost:6379"
LEGACY_PREREVIEW_UPDATE = "true"
LEGACY_PREREVIEW_URL = "https://prereview2.azurewebsites.net/"
LOG_FORMAT = "json"
ORCID_API_URL = "https://api.orcid.org/"
PUBLIC_URL = "https://prereview.org/"
SLACK_REQUEST_REVIEW_CHANNEL_ID = "C05B95LEN5C"
SLACK_SHARE_REVIEW_CHANNEL_ID = "C05C2Q0QKQB"
SLACK_UPDATE = "true"
ZENODO_URL = "https://zenodo.org/"

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 1

[http_service.concurrency]
type = "requests"
hard_limit = 30
soft_limit = 20

[[http_service.checks]]
grace_period = "15s"
interval = "5s"
method = "get"
path = "/health"
protocol = "http"
timeout = "1s"
