app = "prereview-sandbox"

[env]
CAN_SEE_CLUBS= "true"
FATHOM_SITE_ID = "BGNKWQNI"
LEGACY_PREREVIEW_URL = "https://prereview2.azurewebsites.net/"
LOG_FORMAT = "json"
PHASE_TAG = "sandbox"
PHASE_TEXT = "This version is a sandbox."
PUBLIC_URL = "https://sandbox.prereview.org/"
ZENODO_URL = "https://sandbox.zenodo.org/"

[mounts]
source = "prereview_sandbox_data"
destination = "/app/data"

[[services]]
internal_port = 3000
protocol = "tcp"

[[services.http_checks]]
grace_period = "15s"
interval = "5s"
method = "get"
path = "/health"
protocol = "http"
timeout = "1s"

[[services.ports]]
handlers = ["http"]
port = 80
force_https = true

[[services.ports]]
handlers = ["http", "tls"]
port = 443
