app = 'http-cache'
primary_region = 'iad'

[build]
image = 'redis:8.6.0'

[[vm]]
memory = '512mb'
cpu_kind = 'shared'
cpus = 1

[experimental]
exec = ["redis-server", "--maxmemory", "300mb", "--maxmemory-policy", "allkeys-lru"]

[checks]
[checks.redis]
grace_period = "30s"
interval = "15s"
port = 6379
timeout = "5s"
type = "tcp"
