/* @link https://utopia.fyi/grid/calculator?c=352,16,1.125,1240,20,1.2,5,2,&s=0.75|0.5|0.25|0.125,1.5|2|3|4|6,2xs-s|xs-m|s-l|m-xl|m-3xl|xl-3xl&g=s,l,xl,12 */

:root {
  --grid-max-width: 77.5rem;
  --grid-gutter: var(--space-s-l, clamp(1rem, 0.4054rem + 2.7027vi, 2.5rem));
  --grid-columns: 12;
  --min-viewport-size: 352px;
}
