/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,2560,24,1.25,5,2,&s=0.75|0.5|0.25|0.125,1.5|2|3|4|6,2xs-s|xs-m|s-l|m-xl|m-3xl|xl-3xl */

:root {
  --space-4xs: clamp(0.13rem, calc(0.12rem + 0.04vw), 0.19rem);
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.09vw), 0.38rem);
  --space-2xs: clamp(0.5rem, calc(0.46rem + 0.18vw), 0.75rem);
  --space-xs: clamp(0.75rem, calc(0.7rem + 0.27vw), 1.13rem);
  --space-s: clamp(1rem, calc(0.93rem + 0.36vw), 1.5rem);
  --space-m: clamp(1.5rem, calc(1.39rem + 0.54vw), 2.25rem);
  --space-l: clamp(2rem, calc(1.86rem + 0.71vw), 3rem);
  --space-xl: clamp(3rem, calc(2.79rem + 1.07vw), 4.5rem);
  --space-2xl: clamp(4rem, calc(3.71rem + 1.43vw), 6rem);
  --space-3xl: clamp(6rem, calc(5.57rem + 2.14vw), 9rem);

  /* One-up pairs */
  --space-4xs-3xs: clamp(0.13rem, calc(0.09rem + 0.18vw), 0.38rem);
  --space-3xs-2xs: clamp(0.25rem, calc(0.18rem + 0.36vw), 0.75rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.41rem + 0.45vw), 1.13rem);
  --space-xs-s: clamp(0.75rem, calc(0.64rem + 0.54vw), 1.5rem);
  --space-s-m: clamp(1rem, calc(0.82rem + 0.89vw), 2.25rem);
  --space-m-l: clamp(1.5rem, calc(1.29rem + 1.07vw), 3rem);
  --space-l-xl: clamp(2rem, calc(1.64rem + 1.79vw), 4.5rem);
  --space-xl-2xl: clamp(3rem, calc(2.57rem + 2.14vw), 6rem);
  --space-2xl-3xl: clamp(4rem, calc(3.29rem + 3.57vw), 9rem);

  /* Custom pairs */
  --space-2xs-s: clamp(0.5rem, calc(0.36rem + 0.71vw), 1.5rem);
  --space-xs-m: clamp(0.75rem, calc(0.54rem + 1.07vw), 2.25rem);
  --space-s-l: clamp(1rem, calc(0.71rem + 1.43vw), 3rem);
  --space-m-xl: clamp(1.5rem, calc(1.07rem + 2.14vw), 4.5rem);
  --space-m-3xl: clamp(1.5rem, calc(0.43rem + 5.36vw), 9rem);
  --space-xl-3xl: clamp(3rem, calc(2.14rem + 4.29vw), 9rem);
}
