@import url('@ibm/plex/IBM-Plex-Mono/fonts/split/woff2/IBMPlexMono-Regular.css');
@import url('@ibm/plex/IBM-Plex-Mono/fonts/split/woff2/IBMPlexMono-Bold.css');
@import url('@ibm/plex/IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-Regular.css');
@import url('@ibm/plex/IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-Italic.css');
@import url('@ibm/plex/IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-Medium.css');
@import url('@ibm/plex/IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-MediumItalic.css');
@import url('@ibm/plex/IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-Bold.css');
@import url('@ibm/plex/IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-BoldItalic.css');
@import url('color.css');
@import url('space.css');
@import url('step.css');

@custom-selector :--button button:not([aria-pressed]), [role='button']:not([aria-pressed]), .button;
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--input [type='text'], :--textarea;
@custom-selector :--list ol, ul;
@custom-selector :--scroller [role='region'][aria-labelledby][tabindex];
@custom-selector :--textarea textarea, [contenteditable];
@custom-selector :--toggle-button button[aria-pressed], [role='button'][aria-pressed];

.visually-hidden:not(:focus, :active) {
  position: absolute;
  block-size: 1px;
  inline-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(50%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:where([lang]) {
  &:where(:lang(en)) {
    quotes: '“' '”' '‘' '’';
  }
}

:root {
  --font-sans-serif: 'IBM Plex Sans', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue',
    'Noto Sans', 'Liberation Sans', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-monospace: 'IBM Plex Mono', ui-monospace, 'SF Mono', 'Monaco', 'Menlo', 'Consolas', 'Ubuntu Mono',
    'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', monospace;
  --color-primary: var(--color-red-600);
  --color-background: var(--color-white);
  --color-background-alt: var(--color-black-10);
  --color-text: var(--color-black-800);
  --color-text-light: var(--color-black-200);
  --color-focus: var(--color-yellow-40);
  --color-selection: var(--color-blue-50);
  --color-pressed: var(--color-yellow-20);
  --color-link: var(--color-red-600);
  --color-link-dark: var(--color-red-700);
  --color-divider: var(--color-black-30);
  --color-divider-light: var(--color-black-10);
  --color-error: var(--color-red-200);
  --color-success: var(--color-green-400);
  --color-notice: var(--color-blue-90);
  --width-divider-narrow: calc(var(--width-divider) / 1.5);
  --width-divider: 4px;
  --width-divider-wide: calc(var(--width-divider) * 1.5);
  --radius-divider: calc(var(--width-divider) * 5);

  font-family: var(--font-sans-serif);
  font-weight: 400;
  line-height: 1.5;
  overflow-wrap: break-word;
}

::selection {
  background-color: var(--color-selection);
}

:focus-visible {
  @media screen {
    z-index: 1;
    outline: var(--color-focus) solid var(--width-divider);
    outline-offset: var(--width-divider);
  }
}

:any-link,
summary {
  color: var(--color-link);
  hyphens: manual;
}

:any-link,
summary > span {
  @media screen {
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.08rem);
    text-underline-offset: 0.1em;

    &:hover {
      text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
      text-decoration-skip-ink: none;
      text-decoration-skip: none;
    }

    &[aria-current] {
      &:not(:hover) {
        text-decoration-line: none;
      }
    }

    & abbr {
      text-decoration-line: none;
    }
  }
}

:any-link {
  @media screen {
    &.twitter {
      &::before {
        content: '';
        margin-inline-end: 0.4ch;
        padding-inline-end: 1.1em;
        background-color: currentcolor;
        mask-image: url('remixicon/icons/Logos/twitter-fill.svg');
        mask-repeat: no-repeat;
        mask-origin: content-box;
        mask-position: left bottom 40%;
        mask-size: 1.1em;

        @media (forced-colors: active) {
          forced-color-adjust: none;
          background-color: LinkText;
        }
      }
    }

    &.mastodon {
      &::before {
        content: '';
        margin-inline-end: 0.4ch;
        padding-inline-end: 1.1em;
        background-color: currentcolor;
        mask-image: url('remixicon/icons/Logos/mastodon-fill.svg');
        mask-repeat: no-repeat;
        mask-origin: content-box;
        mask-position: left bottom 40%;
        mask-size: 1.1em;

        @media (forced-colors: active) {
          forced-color-adjust: none;
          background-color: LinkText;
        }
      }
    }

    &.linked-in {
      &::before {
        content: '';
        margin-inline-end: 0.4ch;
        padding-inline-end: 1.1em;
        background-color: currentcolor;
        mask-image: url('remixicon/icons/Logos/linkedin-box-fill.svg');
        mask-repeat: no-repeat;
        mask-origin: content-box;
        mask-position: left bottom 40%;
        mask-size: 1.1em;

        @media (forced-colors: active) {
          forced-color-adjust: none;
          background-color: LinkText;
        }
      }
    }

    &.github {
      &::before {
        content: '';
        margin-inline-end: 0.4ch;
        padding-inline-end: 1.1em;
        background-color: currentcolor;
        mask-image: url('remixicon/icons/Logos/github-fill.svg');
        mask-repeat: no-repeat;
        mask-origin: content-box;
        mask-position: left bottom 40%;
        mask-size: 1.1em;

        @media (forced-colors: active) {
          forced-color-adjust: none;
          background-color: LinkText;
        }
      }
    }

    &.email {
      &::before {
        content: '';
        margin-inline-end: 0.4ch;
        padding-inline-end: 1.1em;
        background-color: currentcolor;
        mask-image: url('remixicon/icons/Business/mail-fill.svg');
        mask-repeat: no-repeat;
        mask-origin: content-box;
        mask-position: left bottom 40%;
        mask-size: 1.1em;

        @media (forced-colors: active) {
          forced-color-adjust: none;
          background-color: LinkText;
        }
      }
    }

    &.sciety {
      &::before {
        content: '';
        margin-inline-end: 0.4ch;
        padding-inline-end: 1.1em;
        background-color: currentcolor;
        mask-image: url('icons/sciety-fill.svg');
        mask-repeat: no-repeat;
        mask-origin: content-box;
        mask-position: left bottom 40%;
        mask-size: 1.1em;

        @media (forced-colors: active) {
          forced-color-adjust: none;
          background-color: LinkText;
        }
      }
    }
  }
}

html {
  @media screen {
    block-size: 100%;
    background-color: var(--color-background);
    color: var(--color-text);
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: var(--step-0);

  @media screen {
    min-block-size: 100%;
    min-inline-size: 320px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-inline-size: 75rem;
  margin-inline: auto;
  padding-block: var(--space-2xs);
  padding-inline: var(--space-s-m);
  column-gap: var(--space-m);
  font-size: var(--step--1);

  & > .logo {
    padding-block: calc(var(--space-s-m) - var(--space-2xs));

    & > a {
      display: block;
    }

    & img {
      block-size: calc(var(--space-2xl-3xl) - 2 * var(--space-s-m));
    }
  }

  & :any-link {
    color: currentcolor;
  }
}

.giving-tuesday {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding-block: var(--space-s);
  padding-inline: max(var(--space-s-m), calc(var(--space-s-m) + (100% - 75rem) / 2));
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--step--1);
  font-weight: 700;
  row-gap: var(--space-3xs-2xs);

  > * {
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: var(--space-xs-s);
    row-gap: var(--space-3xs-2xs);
  }

  @media screen {
    @media (forced-colors: active) {
      border-block-end: var(--width-divider-narrow) solid currentcolor;
    }
  }
}

.contents > :not(aside, header),
.contents > aside > * {
  max-inline-size: 75rem;
  margin-inline: auto;
  padding-inline: var(--space-s-m);
}

body > .contents {
  flex-grow: 1;
}

body > footer {
  display: flex;
  flex-wrap: wrap;
  inline-size: 100%;
  margin-block-start: var(--space-2xl-3xl);
  margin-inline: auto;
  padding-block: var(--space-s-m);
  padding-inline: max(var(--space-s-m), calc(var(--space-s-m) + (100vi - 75rem) / 2));
  column-gap: var(--space-2xl-3xl);
  font-size: var(--step--1);
  row-gap: var(--space-xs-s);
  border-block-start: var(--width-divider-narrow) solid transparent;

  & > div {
    flex-basis: 100%;
  }

  & ul {
    margin-block-start: 0;
    padding-inline-start: 0;
    list-style-type: none;
  }

  & li:not(:first-child) {
    margin-block-start: var(--space-3xs);
  }

  & small {
    flex-basis: 100%;
    font-size: var(--step--2);
    text-wrap: pretty;
  }

  & img {
    block-size: var(--space-m-l);
  }

  & .contacts :any-link:not(:hover) {
    @media screen {
      text-decoration-line: none;
    }
  }

  & :any-link {
    color: currentcolor;
  }

  @media print {
    border-color: var(--color-divider-light);
  }

  @media screen {
    background-color: var(--color-black-10);
  }
}

.orcid {
  &:any-link {
    color: inherit;

    :not(.byline) > & {
      &:not(:hover) {
        text-decoration-line: none;
      }
    }
  }

  @media screen {
    padding-left: calc(0.4ch + 1em + 0.1ch); /* stylelint-disable-line liberty/use-logical-spec */
    background-image: url('logos/orcid.svg');
    background-repeat: no-repeat;
    background-position: left 0.1ch bottom 40%;
    background-size: 1em;

    .byline & {
      padding-right: calc(0.4ch + 1em + 0.1ch); /* stylelint-disable-line liberty/use-logical-spec */
      padding-left: 0; /* stylelint-disable-line liberty/use-logical-spec */
      background-position: right 0.1ch bottom 40%;

      @media (forced-colors: active) {
        padding: 0;
      }
    }

    @media (forced-colors: active) {
      padding: 0;
      background-image: none;
    }
  }
}

.slack {
  display: flex;
  column-gap: var(--space-3xs);
  user-select: all;

  img {
    align-self: center;
    inline-size: 1.3em;
    border-radius: var(--width-divider);
  }
}

img {
  object-fit: contain;
  display: block;
  block-size: auto;
  max-block-size: 100%;
  inline-size: auto;
  max-inline-size: 100%;

  :--heading:not(.visually-hidden) + & {
    margin-block-start: var(--space-xs);
  }
}

nav {
  .contents > & {
    display: flex;
    justify-content: space-between;
  }

  section > & {
    display: flex;
    justify-content: flex-end;
    margin-block-start: var(--space-2xs);
  }

  :not(.contents, .header, .navigation, section) > & {
    margin-block-start: var(--space-m);
  }
}

.pager {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 500;

  & :any-link {
    padding-block: var(--space-3xs);
    padding-inline: var(--space-2xs);

    &:focus-visible {
      outline-offset: 0;
    }
  }

  & [rel='prev'] {
    display: inline-flex;
    align-items: center;

    &::before {
      content: '←\00a0';
    }
  }

  & [rel='next'] {
    display: inline-flex;
    align-items: center;

    &::after {
      content: '\00a0→';
    }
  }

  @media print {
    display: none;
  }

  @media screen {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

header {
  :not(.contents) > & {
    & :any-link {
      color: inherit;
    }

    & + :not(.visually-hidden),
    & + .visually-hidden + * {
      margin-block-start: var(--space-m-l);
    }
  }
}

article {
  :not(aside) > & {
    margin-block-start: var(--space-s-l);

    section & {
      margin-block-start: var(--space-xs-s);
    }
  }

  & > header > :first-child {
    margin-block-start: 0;
  }
}

:--scroller {
  overflow: auto;

  & > :first-child {
    margin-block-start: 0;
  }

  :is(:--heading, details) + & {
    margin-block-start: var(--space-2xs-xs);
  }
}

:--heading {
  font-weight: 700;
  line-height: 1.2;
  text-wrap: pretty;

  :where(:not(caption, legend)) > & {
    margin-block-start: var(--space-s-m);
  }

  :--heading + & {
    margin-block-start: var(--space-2xs-xs);
  }

  :where(.summary-card, :--scroller) + & {
    margin-block-start: var(--space-m-l);
  }

  section & {
    margin-block-start: var(--space-l-xl);

    &:has(+ :--list) {
      border-block-end: var(--width-divider-narrow) solid var(--color-red-60);
      padding-block-end: var(--space-4xs);
    }
  }
}

h1 {
  font-size: var(--step-5);
  letter-spacing: -0.015em;

  form & {
    font-size: var(--step-4);
  }
}

h2 {
  font-size: var(--step-4);
  letter-spacing: -0.015em;

  :is(aside, form) & {
    font-size: var(--step-3);
  }

  form > div > &,
  :is(section, .preview) & {
    font-size: var(--step-2);
  }

  :is(error-summary, notification-banner) & {
    font-size: var(--step-1);
    letter-spacing: unset;
  }
}

h3 {
  font-size: var(--step-2);
  letter-spacing: -0.015em;

  .preview & {
    font-size: var(--step-1);
    letter-spacing: unset;
  }
}

h4 {
  font-size: var(--step-1);

  .preview & {
    font-size: var(--step-0);
  }
}

h5 {
  font-size: var(--step-0);

  .preview & {
    font-size: var(--step--1);
  }
}

h6 {
  font-size: var(--step--1);

  .preview & {
    font-size: var(--step--2);
  }
}

:--list {
  margin-block-start: var(--space-s);
  padding-inline-start: var(--space-m);
  text-wrap: pretty;

  nav > & {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-block-start: 0;
    padding-inline-start: 0;
    column-gap: var(--space-xs-m);
    list-style-type: none;
    row-gap: var(--space-3xs-2xs);
  }

  fieldset > & {
    margin-block-start: 0;
    padding-inline-start: 0;
    list-style-type: none;

    & > li {
      margin-block-start: var(--space-xs);

      & > span {
        display: inline-block;
        min-inline-size: var(--space-m);
        text-align: center;
      }
    }
  }

  details + & {
    & > :first-child {
      margin-block-start: var(--space-m-l);
    }
  }

  error-summary > & {
    margin-block-start: var(--space-3xs-2xs);
    padding-inline-start: 0;
    list-style-type: none;
  }
}

dl {
  max-inline-size: 64ch;
  text-wrap: pretty;

  * + & {
    margin-block-start: var(--space-m);
  }

  .summary-card & {
    max-inline-size: 100%;
  }

  header > & {
    display: flex;
    flex-wrap: wrap;
    max-inline-size: 100%;
    margin-block-start: var(--space-3xs-2xs);
    column-gap: var(--space-s-m);
    font-size: var(--step--2);
    row-gap: var(--space-3xs);

    & > div {
      display: flex;
      column-gap: var(--space-3xs-2xs);
    }
  }
}

dt {
  font-weight: 500;

  header & {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
  }

  dd + & {
    margin-block-start: var(--space-2xs);
  }
}

math {
  &[display='block'] {
    margin-block: var(--space-2xs);
  }
}

.summary-card {
  margin-block-start: var(--space-m);
  border: var(--width-divider-narrow) solid var(--color-divider);

  & > * {
    margin-block-start: 0;
    padding-block: var(--space-2xs);
    padding-inline: var(--space-xs);

    & > :first-child {
      margin-block-start: 0;
    }
  }

  & > :first-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--space-xs-m);
    background-color: var(--color-background-alt);
    row-gap: var(--space-4xs);
    border-block-end: var(--width-divider-narrow) solid var(--color-background-alt);

    & h2 {
      font-size: var(--step-1);
      line-height: inherit;
    }
  }

  & > :--scroller {
    &:focus-visible {
      outline-offset: 0;
    }

    @media screen {
      max-block-size: 75vb;
      overflow-block: auto;
      scrollbar-gutter: stable;

      @media (height >= 50em) {
        max-block-size: 50vb;
      }
    }
  }
}

.summary-list {
  & > div {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--space-4xs);
    column-gap: var(--space-xs-m);

    &:not(:first-child) {
      margin-block-start: var(--space-2xs);
    }

    & + div {
      border-block-start: var(--width-divider-narrow) solid var(--color-divider-light);
      padding-block-start: var(--space-2xs);
    }

    @media screen {
      @media (width < 30em) {
        flex-direction: column;
      }

      @media (width >= 30em) {
        [role='region'] & {
          display: grid;
          grid-auto-flow: dense;
          grid-template-columns: 45% 1fr auto;
          grid-template-rows: auto 1fr;
          row-gap: 0;
        }
      }
    }
  }

  & dt {
    @media (width >= 30em) {
      min-inline-size: 20ch;
      max-inline-size: 50%;

      [role='region'] & {
        grid-row: 1 / -1;
        min-inline-size: unset;
        max-inline-size: unset;
      }

      & + dd {
        flex-basis: min-content;
        flex-grow: 1;

        [role='region'] & {
          + dd:not(:last-child) {
            grid-column: 2/-1;
          }
        }
      }
    }
  }

  & small {
    display: block;
    font-size: var(--step--2);
  }
}

table {
  inline-size: 100%;
  margin-block-start: var(--space-s-m);
  border-spacing: 0;
  font-size: var(--step--1);
  text-wrap: pretty;
}

caption {
  margin-block-end: var(--space-2xs-xs);
  text-align: start;
}

td,
th {
  border-block-end: var(--width-divider-narrow) solid var(--color-divider);
  padding-block: var(--space-3xs-2xs);
  vertical-align: baseline;
}

th {
  text-align: center;

  &[scope='row'] {
    min-inline-size: 12rem;
    font-weight: 500;
    text-align: start;
  }

  & + & {
    padding-inline-start: var(--space-2xs-s);
  }
}

td {
  text-align: end;
  font-variant-numeric: tabular-nums;

  th + & {
    padding-inline-start: var(--space-s-m);
  }

  & + & {
    padding-inline-start: var(--space-2xs-s);
  }
}

p {
  max-inline-size: 64ch;
  margin-block-start: var(--space-xs);
  text-wrap: pretty;
  hyphens: auto;

  article + & {
    margin-block-start: var(--space-s-m);
  }
}

blockquote {
  margin-block-start: var(--space-xs-s);
}

details {
  margin-block-start: var(--space-2xs-xs);

  [role='note'] + & {
    margin-block-start: var(--space-xs-s);
  }

  & > div {
    position: relative;
    padding-inline-start: var(--space-s);

    &::before {
      content: '';
      position: absolute;
      block-size: 100%;
      inset-inline-start: calc((0.6em - var(--width-divider)) / 2);
      border-inline-start: var(--width-divider) solid var(--color-divider-light);
    }
  }
}

summary {
  inline-size: fit-content;
  cursor: pointer;
  touch-action: manipulation;
}

dfn {
  font-style: normal;
}

q {
  quotes: inherit;
}

cite {
  quotes: inherit;
  font-style: normal;

  :not(dd) > & {
    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}

small {
  font-size: inherit;
}

sub {
  font-size: 50%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  position: relative;
  font-size: 70%;
  line-height: 0;
  vertical-align: baseline;
  inset-block-start: -0.5em;
}

label {
  cursor: pointer;
  touch-action: manipulation;

  &:not([for]) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &.textarea {
      inline-size: 100%;
    }

    & span {
      flex: 1;
    }

    & > :is([type='checkbox'], [type='radio']) {
      margin-inline-end: var(--space-2xs-xs);
    }

    li > & + [role='note'] {
      margin-inline-start: calc(var(--space-m) + var(--space-2xs-xs));
    }

    fieldset > &,
    fieldset :not(.conditional, .error) > & {
      margin-block-start: var(--space-xs);

      &:first-child {
        margin-block-start: var(--space-s);
      }
    }

    .error-message + & {
      margin-block-start: var(--space-s);
    }

    details + & {
      margin-block-start: var(--space-m-l);
    }
  }

  :not(:--heading) > & {
    display: block;
    inline-size: fit-content;
    margin-block-start: var(--space-m);
  }
}

:--button {
  display: inline-block;
  position: relative;
  min-inline-size: 4em;
  padding-block: var(--space-2xs);
  padding-inline: var(--space-xs);
  transform: translateZ(0);
  border: var(--width-divider) solid var(--color-link);
  border-radius: var(--radius-divider);
  color: var(--color-link);
  font-size: var(--step-1);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1.5;
  text-align: center;
  text-decoration-line: none;
  user-select: none;
  touch-action: manipulation;

  &:focus {
    user-select: auto;
  }

  &:focus-visible {
    outline-offset: 0;
  }

  &:is([aria-disabled='true']) {
    opacity: 0.5;
    cursor: not-allowed;

    @media screen {
      @media (forced-colors: active) {
        opacity: 1;
        color: GrayText;
      }
    }
  }

  &:not([aria-disabled='true']) {
    transition: filter 0.2s;
    cursor: pointer;

    &:hover {
      filter: brightness(1.1);
    }
  }

  :not(.button-group) > & {
    margin-block-start: var(--space-m-l);
  }

  @media screen {
    border-width: 0;
    border-block-end-width: var(--width-divider);
    border-color: var(--color-link-dark);
    background-color: var(--color-link);
    color: var(--color-background);
    -webkit-tap-highlight-color: transparent;

    &:active {
      inset-block-start: calc(var(--width-divider) / 2);
      margin-block-end: calc(var(--width-divider) / 2);
      border-block-end-width: calc(var(--width-divider) / 2);
    }

    @media (forced-colors: active) {
      border-block-start-width: calc(var(--width-divider) / 2);
      border-inline-width: calc(var(--width-divider) / 2);
      border-color: ButtonBorder;
      background-color: ButtonFace;
      color: ButtonText;
    }
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-block-start: var(--space-m-l);
  column-gap: var(--space-2xs-s);
  row-gap: var(--space-2xs-xs);

  p + & {
    margin-block-start: var(--space-xs);
  }

  & :any-link:not(.button) {
    padding-block: var(--space-4xs-3xs);
    padding-inline: var(--space-4xs-3xs);
  }
}

[role='toolbar'] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2xs);
  justify-content: flex-start;
  margin-block-start: var(--space-s);

  & > [role='group'] {
    display: inline-flex;
    align-items: center;
  }
}

:--toggle-button {
  block-size: var(--space-l);
  padding: var(--space-4xs-3xs);
  border: var(--width-divider) solid currentcolor;
  background-color: var(--color-background);
  color: var(--color-text);
  user-select: none;
  touch-action: manipulation;

  &:focus-visible {
    position: relative;
    outline-offset: 0;

    @media screen {
      @media (forced-colors: active) {
        border-color: ButtonBorder;
      }
    }
  }

  &:is([aria-disabled='true']) {
    cursor: not-allowed;

    & svg {
      color: var(--color-text-light);

      @media screen {
        @media (forced-colors: active) {
          color: GrayText;
        }
      }
    }
  }

  &:not([aria-disabled='true']) {
    cursor: pointer;
  }

  &:is([aria-pressed='false']) {
    border-block-width: var(--width-divider) var(--width-divider-wide);
  }

  &:is([aria-pressed='true']) {
    border-block-width: var(--width-divider-wide) var(--width-divider);
    background-color: var(--color-pressed);

    @media screen {
      @media (forced-colors: active) {
        border-color: ButtonBorder;
        background-color: SelectedItem;
        color: SelectedItemText;
      }
    }
  }

  [role='group'] > & {
    &:not(:last-child) {
      margin-inline-end: calc(-1 * var(--width-divider));
    }
  }

  & svg {
    block-size: 100%;
    fill: currentcolor;
  }

  @media screen {
    @media (forced-colors: active) {
      border-color: ButtonBorder;
    }
  }
}

.error-message {
  margin-block-start: var(--space-3xs);
  color: var(--color-error);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;

  :not(label) + & {
    margin-block-start: var(--space-s);
  }

  details + & {
    margin-block-start: var(--space-m-l);
  }
}

[role='alert'] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;

  & :any-link {
    color: var(--color-error);
  }
}

[role='note'] {
  margin-block-start: var(--space-4xs-3xs);
  color: var(--color-text-light);
  font-size: var(--step-0);

  fieldset > & {
    margin-block-start: var(--space-xs);
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-block-start: var(--space-s-m);
  border: 0;
}

legend {
  float: inline-start;
}

error-summary {
  display: block;
  margin-block-start: var(--space-s-l);
  padding-block: var(--space-2xs-xs);
  padding-inline: var(--space-s);
  border: var(--width-divider-wide) solid var(--color-error);

  &:focus {
    @media screen {
      outline: var(--color-focus) solid var(--width-divider);
      outline-offset: 0;
    }
  }

  & > :first-child {
    margin-block-start: 0;
  }
}

notification-banner {
  --outside-color: var(--color-success);

  display: block;
  margin-block-start: var(--space-s-l);
  padding-block: var(--space-2xs-xs);
  border: var(--width-divider-wide) solid var(--outside-color);

  &:focus {
    @media screen {
      outline: var(--color-focus) solid var(--width-divider);
      outline-offset: 0;
    }
  }

  &[type='failure'] {
    --outside-color: var(--color-error);
  }

  &[type='notice'] {
    --outside-color: var(--color-notice);
  }

  & > * {
    margin-block-start: var(--space-2xs-xs);
    padding-inline: var(--space-s);
  }

  & > :first-child {
    margin-block-start: 0;

    @media screen {
      @media (forced-colors: none) {
        padding-block: var(--space-2xs);
        background-color: var(--outside-color);
        color: var(--color-background);
        font-size: var(--step-0);
      }
    }
  }

  @media screen {
    @media (forced-colors: none) {
      border-block-start-width: 0;
      padding-block-start: 0;
    }
  }
}

.error {
  error-summary + & {
    margin-block-start: var(--space-s-l);
  }

  @media screen {
    border-inline-start: var(--width-divider-wide) solid var(--color-error);
    padding-inline-start: var(--space-s);
  }
}

.inset {
  @media screen {
    margin-block-start: var(--space-s);
    border-inline-start: var(--width-divider-wide) solid var(--color-divider);
    padding: var(--space-s);

    & > :first-child {
      margin-block-start: 0;
    }
  }
}

:--input {
  max-block-size: 30vb;
  max-inline-size: 100%;
  padding-block: var(--space-3xs);
  padding-inline: var(--space-2xs);
  border: var(--width-divider) solid currentcolor;
  border-radius: 0;
  background-color: var(--color-background);
  color: inherit;
  font: inherit;

  &:not([hidden]) {
    display: block;
  }

  &:not([size]) {
    inline-size: 100%;
  }

  &:focus-visible {
    outline-offset: 0;
  }

  &:is([aria-invalid]) {
    border-color: var(--color-error);

    &:focus-visible {
      border-color: currentcolor;

      @media screen {
        @media (forced-colors: active) {
          border-color: CanvasText;
        }
      }
    }
  }

  &:read-only {
    cursor: not-allowed;
  }

  :not(label) > &:where(:first-child) {
    margin-block-start: var(--space-s-m);
  }

  :--heading + & {
    margin-block-start: var(--space-xs-s);
  }

  .error-message + & {
    margin-block-start: var(--space-3xs);
  }

  label + & {
    margin-block-start: var(--space-4xs);
  }

  [role='note'] + & {
    margin-block-start: var(--space-3xs-2xs);
  }

  [role='toolbar'] + & {
    margin-block-start: var(--space-2xs);
  }

  details + & {
    margin-block-start: var(--space-m-l);
  }

  @media screen {
    max-block-size: 75vb;

    @media (width >= 50em) {
      max-block-size: 50vb;
    }

    @media (forced-colors: active) {
      border-color: CanvasText;
    }
  }
}

html-editor {
  display: block;
  position: relative;

  & :--textarea {
    block-size: 100vb;
    min-block-size: var(--space-3xl);
    resize: none;
  }

  details + & {
    margin-block-start: var(--space-m-l);
  }

  & > .loading {
    display: flex;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    padding-block: var(--space-l-xl) var(--space-s-m);
    padding-inline: var(--space-m-xl);
    border: var(--width-divider) solid currentcolor;
    background-color: var(--color-background);
    font-weight: 500;
    user-select: none;
    inset: 0;
    row-gap: var(--space-2xs-xs);

    @media (prefers-reduced-motion: no-preference) {
      &::before {
        content: '';
        block-size: var(--space-m-l);
        inline-size: var(--space-m-l);
        animation: rotation 1s linear infinite;
        border: var(--width-divider-wide) solid var(--color-text);
        border-radius: 50%;
        border-inline-end-color: transparent;

        @media (forced-colors: active) {
          border-inline-end-color: Field;
        }
      }
    }
  }
}

:--textarea {
  overflow-block: auto;
  resize: block;
  cursor: text;
  scrollbar-gutter: stable;

  & > :first-child {
    margin-block-start: 0;
  }
}

.conditional {
  position: relative;
  margin-block-start: var(--space-2xs);
  padding-inline-start: calc(var(--space-m) + var(--space-2xs-xs));

  &::before {
    content: '';
    position: absolute;
    block-size: 100%;
    inset-inline-start: calc((var(--space-m) - var(--width-divider)) / 2);
    border-inline-start: var(--width-divider) solid var(--color-text-light);
  }

  & label {
    margin-block-start: 0;
  }
}

[type='checkbox'],
[type='radio'] {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  block-size: var(--space-m);
  inline-size: var(--space-m);
  border: var(--width-divider) solid currentcolor;
  background-color: var(--color-background);
  color: currentcolor;
  cursor: pointer;
  appearance: none;

  &::before {
    content: '';
    block-size: calc(100% - (var(--width-divider) * 2));
    inline-size: calc(100% - (var(--width-divider) * 2));
    background-color: transparent;
  }

  &:focus {
    @media screen {
      outline: var(--color-focus) solid var(--width-divider);
      outline-offset: 0;

      @media (forced-colors: active) {
        outline-color: Highlight;
      }
    }
  }

  &:checked::before {
    background-color: currentcolor;

    @media screen {
      @media (forced-colors: active) {
        background-color: ButtonBorder;
      }
    }
  }

  &:focus-visible {
    outline-offset: 0;
  }

  @media screen {
    @media (forced-colors: active) {
      border-color: ButtonBorder;
    }
  }
}

[type='checkbox'] {
  &::before {
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
}

[type='radio'] {
  border-radius: 50%;

  &::before {
    border-radius: 50%;
  }
}

.select-all {
  user-select: all;
}

.doi {
  font-family: var(--font-monospace);
  user-select: all;
}

.back {
  display: inline-flex;
  align-items: center;
  font-size: var(--step--1);

  &::before {
    content: '‹\00a0';
  }

  &:any-link {
    color: inherit;
  }

  @media print {
    display: none;
  }
}

.forward {
  display: inline-flex;
  align-items: center;
  font-size: var(--step--1);

  &::after {
    content: '\00a0›';
  }

  &:any-link {
    color: inherit;
  }

  @media print {
    display: none;
  }
}

.forward-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-block-start: var(--space-2xs);
  column-gap: var(--space-2xs-s);
  row-gap: var(--space-2xs);
}

.byline {
  margin-block-start: var(--space-2xs);
  font-size: var(--step--1);
  font-style: italic;
  text-wrap: pretty;

  & :any-link {
    color: inherit;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-xs-m);
  border: var(--width-divider) solid transparent;
  font-size: var(--step-1);
  line-height: 1.25;
  text-align: center;
  row-gap: var(--space-xs);

  & > :first-child {
    margin-block-start: 0;
  }

  @media print {
    border-color: var(--color-success);
  }

  @media screen {
    background-color: var(--color-success);
    color: var(--color-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.preview {
  padding-block: var(--space-3xs);
  padding-inline: var(--space-2xs);
  border: var(--width-divider) solid currentcolor;
  font-size: var(--step--1);

  &:focus-visible {
    outline-offset: 0;
  }

  & > :first-child {
    margin-block-start: 0;
  }

  @media screen {
    max-block-size: 75vb;
    overflow-block: auto;
    scrollbar-gutter: stable;

    &:is(article) {
      max-block-size: 40vb;
    }

    @media (height >= 50em) {
      max-block-size: 50vb;

      &:is(article) {
        max-block-size: 25vb;
      }
    }
  }
}

skip-link {
  display: contents;

  & :any-link {
    position: fixed;
    z-index: 999;
    inline-size: fit-content;
    margin-inline: auto;
    padding-block: var(--space-2xs) var(--space-xs);
    padding-inline: var(--space-s-m);
    background-color: var(--color-focus);
    color: var(--color-text);
    inset-inline: 0;

    &:focus-visible {
      outline-color: transparent;
      outline-offset: 0;
    }

    &:not(:active, :focus) {
      position: fixed;
      block-size: 1px;
      inline-size: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      white-space: nowrap;
      clip-path: inset(50%);
    }

    &:not(:hover) {
      text-decoration-line: none;
    }
  }
}

.cards {
  margin-block-start: var(--space-m-l);
  padding-inline-start: 0;
  list-style-type: none;

  section & {
    margin-block-start: var(--space-xs-s);
  }

  > li {
    text-align: initial;
  }

  & article {
    position: relative;
    block-size: 100%;
    inline-size: 100%;
    padding-block: var(--space-xs);
    padding-inline: var(--space-s);

    & > header {
      & > :not(.visually-hidden):first-child,
      & > .visually-hidden:first-child + * {
        margin-block-start: 0;
      }

      & + :not(.visually-hidden) {
        margin-block-start: var(--space-xs);
      }
    }

    & :any-link {
      &::after {
        content: '';
        position: absolute;
        border: var(--width-divider) solid var(--color-divider-light);
        border-radius: var(--radius-divider);
        inset: 0;

        @media screen {
          @media (forced-colors: active) {
            border-color: CanvasText;
          }
        }
      }

      &:hover::after {
        border-color: var(--color-divider);

        @media screen {
          @media (forced-colors: active) {
            border-color: CanvasText;
          }
        }
      }

      &:focus-visible {
        outline-width: 0;

        &::after {
          @media screen {
            border-color: var(--color-divider);
            outline: var(--color-focus) solid var(--width-divider);

            @media (forced-colors: active) {
              border-color: CanvasText;
              outline-color: Highlight;
            }
          }
        }
      }

      &:not(.more) {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  & h2 {
    font-size: var(--step-3);
  }

  & b {
    font-weight: 500;
  }

  & article > dl {
    display: flex;
    justify-content: space-between;
    max-inline-size: 100%;
    margin-block-start: var(--space-2xs);
    column-gap: var(--space-m);
    color: var(--color-text-light);
    font-size: var(--step--1);
    row-gap: var(--space-4xs);

    & dt {
      position: absolute;
      block-size: 1px;
      inline-size: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      white-space: nowrap;
      clip-path: inset(50%);
    }
  }

  &[aria-labelledby][tabindex] {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s-m);
    justify-content: center;

    & > * {
      flex-shrink: 0;
      font-size: var(--step--1);
    }

    & article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      inline-size: min(95vw - var(--space-s-m) * 2, 20em);
      margin-block-start: 0;
    }

    & dl {
      font-size: var(--step--2);
    }

    @media screen {
      margin-inline: calc(50% - 50vw);
      padding-inline: var(--space-s-m);

      @media (width < 50em) {
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-block: var(--width-divider);
        overflow-inline: auto;
        overscroll-behavior-inline: contain;
        scrollbar-gutter: stable;
        scroll-snap-type: inline mandatory;

        & > * {
          scroll-snap-align: center;
        }
      }
    }
  }
}

.more {
  display: inline-flex;
  align-items: center;
  margin-block-start: var(--space-xs);

  &::before {
    content: '\00a0›';
    order: 1;
  }

  &:any-link {
    color: inherit;
  }
}

.two-up {
  @media screen and (width >= 50em) {
    & > * {
      margin-inline-start: 50%;
    }

    & > :not(.contents) {
      inline-size: calc(50% - var(--space-m-xl));
      margin-inline-start: calc(50% + var(--space-m-xl) - var(--space-s-m));
    }

    & > .contents {
      & > main {
        &,
        & > :first-child {
          margin-block-start: 0;
        }
      }

      & > :not(aside, header),
      & > header > * {
        inline-size: calc(100% - var(--space-m-xl));
        margin-inline-start: calc(var(--space-m-xl) - var(--space-s-m));
      }

      & > header > .navigation {
        max-inline-size: 75rem;
        padding-inline: var(--space-s-m);
      }

      & > aside > * {
        inline-size: calc(100% - var(--space-m-xl));
        margin-inline-end: calc(var(--space-m-xl) - var(--space-s-m));
      }

      & > aside {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: flex-end;
        padding-block: var(--space-m) var(--space-xl-2xl);
        overflow-block: auto;
        background-color: var(--color-background-alt);
        inset-block: 0;
        inset-inline: 0 50%;
        overscroll-behavior-block: contain;
        scrollbar-gutter: stable;

        &:focus-visible {
          outline-offset: calc(-1 * var(--width-divider));
        }

        @media (forced-colors: active) {
          border-inline-end: var(--width-divider) solid;
        }
      }
    }

    & > footer {
      max-inline-size: 75rem;
      padding-inline: var(--space-s-m);
    }
  }
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-block: var(--space-2xs);
  padding-inline: max(var(--space-s-m), calc(var(--space-s-m) + (100% - 75rem) / 2));
  column-gap: var(--space-xs-m);
  background-color: var(--color-background-alt);
  font-size: var(--step--1);
  row-gap: var(--space-xs-s);

  & nav {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  & :any-link {
    position: relative;
    color: inherit;

    @media screen {
      & > [role='status']:last-child {
        position: absolute;
        padding: 0.25em;
        transform: translate(-50%, -50%);
        inset-block-start: 0;
        inset-inline-start: 100%;
        border-radius: 50%;
        background-color: var(--color-primary);

        @media (forced-colors: active) {
          background-color: LinkText;
        }
      }
    }
  }

  @media screen {
    @media (forced-colors: active) {
      border-block-end: var(--width-divider-narrow) solid currentcolor;
    }
  }
}

.phase-banner {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: var(--space-2xs);

  & > span {
    flex: 1;
    font-size: var(--step--1);
  }
}

.tag {
  display: inline-block;
  padding-block: var(--space-4xs);
  padding-inline: var(--space-3xs-2xs);
  background-color: var(--color-primary);
  color: var(--color-background);
  font-size: var(--step--2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media screen {
    @media (forced-colors: active) {
      border: var(--width-divider-narrow) solid currentcolor;
    }
  }
}

.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-inline-start: 0;
  column-gap: var(--space-m-l);
  list-style-type: none;
  row-gap: var(--space-l-xl);

  & a {
    display: block;
    inline-size: fit-content;
    margin-inline: auto;
  }

  & img {
    block-size: 100%;
    max-block-size: calc(var(--space-xl) * 2);
    inline-size: 100%;
    max-inline-size: calc(var(--space-2xl) * 2);

    &.wide {
      max-inline-size: calc(var(--space-3xl) * 2);
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hero {
  display: flow-root;

  & em {
    position: relative;
    font-style: inherit;

    &::after {
      content: '';
      position: absolute;
      block-size: var(--space-xs);
      background-image: url('underline.svg');
      background-repeat: no-repeat;
      inset-block-start: 82%;
      inset-inline: 0;
    }
  }

  & p {
    font-size: var(--step-1);
    hyphens: manual;

    @media (width >= 30em) {
      max-inline-size: 58%;
    }
  }

  & :--button {
    font-size: var(--step-2);
  }

  & img {
    max-block-size: 60vb;
    inline-size: clamp(45%, 20vi, 55%);
    margin-block-start: var(--space-2xs);
    float: inline-end;
    object-position: bottom;

    @media (width >= 30em) {
      margin-block-start: -15%;
    }

    @media (forced-colors: active) {
      filter: drop-shadow(0 0 0.05em CanvasText);
    }
  }
}

.tops {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: calc(50% - 50vi);
  padding-block: var(--space-m-xl);
  padding-inline: max(var(--space-s-m), calc(var(--space-s-m) + (100vi - 75rem) / 2));
  row-gap: var(--space-m-xl);
  background-color: var(--color-yellow-20);

  & img {
    max-block-size: 50vb;
    max-inline-size: 40vi;

    @media (width >= 30em) {
      max-block-size: 16em;
    }
  }

  @media (width >= 40em) {
    flex-direction: row;
    justify-content: center;
    column-gap: var(--space-l-xl);
  }

  & p {
    hyphens: manual;
  }

  & .forward {
    margin-block-start: var(--space-xs);
  }

  & :any-link {
    color: inherit;
  }

  > div > :first-child {
    margin-block-start: 0;
  }
}

.overview {
  display: flex;
  flex-direction: column;
  margin-inline: calc(50% - 50vw);
  padding-inline: var(--space-s-m);

  & > section {
    max-inline-size: 50rem;
    padding-block: var(--space-s-m);
    padding-inline: var(--space-s-m);
    border: var(--width-divider) solid var(--color-divider);

    &:not(:first-child) {
      @media screen {
        background-color: var(--color-red-600);
      }

      @media (width < 40em) {
        border-block-start-width: calc(var(--width-divider) / 2);
      }

      @media (width >= 40em) {
        border-inline-start-width: calc(var(--width-divider) / 2);
      }
    }

    &:not(:last-child) {
      @media screen {
        background-color: var(--color-red-700);
      }

      @media (width < 40em) {
        border-block-end-width: calc(var(--width-divider) / 2);
      }

      @media (width >= 40em) {
        border-inline-end-width: calc(var(--width-divider) / 2);
      }
    }

    & > :first-child {
      margin-block-start: 0;
    }

    & p {
      hyphens: manual;
    }

    & .forward {
      margin-block-start: var(--space-xs);
    }

    @media screen {
      padding-block: var(--space-m-xl);
      border-color: transparent;
    }
  }

  & > :empty {
    display: none;

    @media screen {
      @media (forced-colors: none) {
        display: block;
        position: relative;
        flex-basis: var(--space-xl-3xl);
        background-color: var(--color-red-700);
        background-image: linear-gradient(180deg, transparent 95%, var(--color-red-600) 95%);

        &::after {
          content: '';
          position: absolute;
          background-color: var(--color-red-600);
          inset: 0;
          clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 50% 90%, 0% 0%);

          @media (width >= 40em) {
            clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 90% 50%, 0% 100%);
          }
        }

        @media (width >= 40em) {
          background-image: linear-gradient(90deg, transparent 95%, var(--color-red-600) 95%);
        }
      }
    }
  }

  @media screen {
    background-color: var(--color-red-700);
    background-image: linear-gradient(180deg, transparent 50%, var(--color-red-600) 50%);
    color: var(--color-white);

    @media not (forced-colors: active) {
      padding-inline: 0;
    }

    @media (width >= 40em) {
      background-image: linear-gradient(90deg, transparent 50%, var(--color-red-600) 50%);
    }
  }

  @media (width >= 40em) {
    flex-direction: row;
    justify-content: center;
  }
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s-m);
  justify-content: center;
  padding-inline-start: 0;
  list-style-type: none;

  & > * {
    flex: 1;
    padding: var(--space-2xs-s);
    border: var(--width-divider) solid transparent;
    font-size: var(--step-1);
    font-weight: 500;
    line-height: 1.2;
    text-align: center;

    &:nth-child(3n - 2) {
      border-color: var(--color-yellow-40);

      @media screen {
        background-color: var(--color-yellow-40);
      }
    }

    &:nth-child(3n - 1) {
      border-color: var(--color-blue-50);

      @media screen {
        background-color: var(--color-blue-50);
      }
    }

    &:nth-child(3n) {
      border-color: var(--color-green-50);

      @media screen {
        background-color: var(--color-green-50);
      }
    }

    @media screen {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  & data {
    display: block;
    font-size: var(--step-5);
    font-weight: 700;
    letter-spacing: -0.015em;
    line-height: 1;
  }
}

.profile-header {
  display: flex;
  margin-block-start: var(--space-s-m);
  column-gap: var(--space-xs);

  > div {
    flex: 1;

    > :first-child {
      margin-block-start: 0;
    }
  }

  > img {
    align-self: center;
    inline-size: 10em;
    max-inline-size: 25vi;
    border: var(--width-divider-wide) solid var(--color-black-900);
    border-radius: 50%;
    object-fit: cover;
  }
}
