@import url('@ibm/plex/IBM-Plex-Mono/fonts/split/woff2/IBMPlexMono-Regular.css');
@import url('@ibm/plex/IBM-Plex-Mono/fonts/split/woff2/IBMPlexMono-Bold.css');
@import url('@ibm/plex/IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-Regular.css');
@import url('@ibm/plex/IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-Italic.css');
@import url('@ibm/plex/IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-Medium.css');
@import url('@ibm/plex/IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-MediumItalic.css');
@import url('@ibm/plex/IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-Bold.css');
@import url('@ibm/plex/IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-BoldItalic.css');
@import url('open-color/open-color.css');
@import url('space.css');
@import url('step.css');

@custom-selector :--button button:not([aria-pressed]), [role='button']:not([aria-pressed]), .button;

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

@custom-selector :--input [type='text'], :--textarea;

@custom-selector :--list ol, ul;

@custom-selector :--scroller [role='region'][aria-labelledby][tabindex];

@custom-selector :--textarea textarea, [contenteditable];

@custom-selector :--toggle-button button[aria-pressed], [role='button'][aria-pressed];

.visually-hidden:not(:focus, :active) {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  block-size: 1px;
  inline-size: 1px;
}

*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

:root {
  --font-sans-serif: 'IBM Plex Sans', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue',
    'Noto Sans', 'Liberation Sans', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-monospace: 'IBM Plex Mono', ui-monospace, 'SF Mono', 'Monaco', 'Menlo', 'Consolas', 'Ubuntu Mono',
    'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', monospace;
  --color-primary: var(--oc-red-6);
  --color-background: white;
  --color-background-alt: var(--oc-gray-0);
  --color-text: var(--oc-gray-8);
  --color-text-light: var(--oc-gray-6);
  --color-focus: var(--oc-yellow-7);
  --color-selection: var(--oc-indigo-1);
  --color-pressed: var(--oc-yellow-2);
  --color-link: var(--oc-red-6);
  --color-link-dark: var(--oc-red-8);
  --color-divider: var(--oc-gray-3);
  --color-divider-light: var(--oc-gray-1);
  --color-error: var(--oc-red-7);
  --color-success: var(--oc-green-7);
  --width-divider-narrow: calc(var(--width-divider) / 1.5);
  --width-divider: 4px;
  --width-divider-wide: calc(var(--width-divider) * 1.5);
  --radius-divider: calc(var(--width-divider) * 5);

  font-family: var(--font-sans-serif);
  font-weight: 400;
  line-height: 1.5;
  overflow-wrap: break-word;
}

::selection {
  background-color: var(--color-selection);
}

:focus-visible {
  @media screen {
    outline: var(--color-focus) solid var(--width-divider);
    outline-offset: var(--width-divider);
    z-index: 1;
  }
}

:any-link,
summary {
  color: var(--color-link-dark);
  hyphens: manual;
}

:any-link,
summary > span {
  @media screen {
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.08rem);
    text-underline-offset: 0.1em;

    &:hover {
      text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
      text-decoration-skip-ink: none;
      text-decoration-skip: none;
    }

    & abbr {
      text-decoration-line: none;
    }
  }
}

:any-link {
  @media screen {
    &.twitter {
      &::before {
        content: '';
        padding-inline-end: 1.1em;
        margin-inline-end: 0.4ch;
        background-color: currentcolor;
        mask-image: url('remixicon/icons/Logos/twitter-fill.svg');
        mask-repeat: no-repeat;
        mask-origin: content-box;
        mask-position: left bottom 40%;
        mask-size: 1.1em;
      }
    }

    &.linked-in {
      &::before {
        content: '';
        padding-inline-end: 1.1em;
        margin-inline-end: 0.4ch;
        background-color: currentcolor;
        mask-image: url('remixicon/icons/Logos/linkedin-box-fill.svg');
        mask-repeat: no-repeat;
        mask-origin: content-box;
        mask-position: left bottom 40%;
        mask-size: 1.1em;
      }
    }
  }
}

html {
  @media screen {
    color: var(--color-text);
    background-color: var(--color-background);
    block-size: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: var(--step-0);

  @media screen {
    min-block-size: 100%;
    min-inline-size: 320px;
  }
}

body > :not(.contents),
.contents > :not(aside),
.contents > aside > * {
  inline-size: 100%;
  max-inline-size: 75ch;
  margin-inline: auto;
  padding-inline: var(--space-s-m);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--space-m);
  block-size: var(--space-2xl-3xl);

  & > .logo {
    flex-grow: 1;
    block-size: 100%;
    padding-block: var(--space-s-m);

    & > a {
      display: inline-flex;
      block-size: 100%;
    }

    & img {
      block-size: 100%;
    }
  }
}

body > .contents {
  flex-grow: 1;
}

body > footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  column-gap: var(--space-xl-3xl);
  row-gap: var(--space-s-l);
  border-block-start: var(--width-divider-narrow) solid var(--color-divider-light);
  margin-block-start: var(--space-2xl-3xl);
  padding-block: var(--space-xs-s) var(--space-s-l);

  & > div {
    flex-grow: 1;
    flex-basis: 25em;
    display: flex;
    flex-direction: column;
    row-gap: var(--space-2xs-xs);
    font-size: var(--step--2);

    & > * {
      margin-block-start: 0;
    }

    & > ul {
      display: flex;
      flex-wrap: wrap;
      padding-inline-start: 0;
      list-style-type: none;

      & > :not(:last-child) {
        margin-inline-end: var(--space-xs-s);
      }
    }
  }

  & > img {
    max-block-size: var(--space-xl-2xl);
  }

  & :any-link {
    color: currentcolor;
  }
}

.orcid {
  @media screen {
    padding-right: calc(0.4ch + 1em + 0.1ch); /* stylelint-disable-line liberty/use-logical-spec */
    background-image: url('orcid.svg');
    background-position: right 0.1ch bottom 40%;
    background-repeat: no-repeat;
    background-size: 1em;
  }
}

img {
  display: block;
  block-size: auto;
  max-block-size: 100%;
  inline-size: auto;
  max-inline-size: 100%;
}

nav {
  @nest .contents > & {
    display: flex;
    justify-content: space-between;
  }

  @nest :not(.contents) > & {
    margin-block-start: var(--space-m);
  }
}

header {
  @nest :not(.contents) > & {
    & :any-link {
      color: inherit;
    }

    & + :not(.visually-hidden), & + .visually-hidden + * {
      margin-block-start: var(--space-m-l);
    }
  }
}

article {
  @nest :not(aside) > & {
    margin-block-start: var(--space-s-l);
  }

  & > header > :first-child {
    margin-block-start: 0;
  }
}

:--scroller {
  overflow: auto;

  & > :first-child {
    margin-block-start: 0;
  }

  @nest :is(:--heading, details) + & {
    margin-block-start: var(--space-2xs-xs);
  }
}

:--heading {
  font-weight: 700;
  line-height: 1.2;

  @nest :where(:not(caption, legend)) > & {
    margin-block-start: var(--space-s-m);
  }

  @nest :--heading + & {
    margin-block-start: var(--space-2xs-xs);
  }

  @nest :--scroller + & {
    margin-block-start: var(--space-m-l);
  }
}

h1 {
  font-size: var(--step-5);

  @nest form & {
    font-size: var(--step-4);
  }
}

h2 {
  font-size: var(--step-4);

  @nest :is(aside, form) & {
    font-size: var(--step-3);
  }

  @nest .preview & {
    font-size: var(--step-2);
  }

  @nest error-summary & {
    font-size: var(--step-1);
  }
}

h3 {
  font-size: var(--step-2);

  @nest .preview & {
    font-size: var(--step-1);
  }
}

h4 {
  font-size: var(--step-1);

  @nest .preview & {
    font-size: var(--step-0);
  }
}

h5 {
  font-size: var(--step-0);

  @nest .preview & {
    font-size: var(--step--1);
  }
}

h6 {
  font-size: var(--step--1);

  @nest .preview & {
    font-size: var(--step--2);
  }
}

:--list {
  margin-block-start: var(--space-s);
  padding-inline-start: var(--space-m);

  @nest fieldset > & {
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;

    & > li {
      margin-block-start: var(--space-s);
    }
  }

  @nest details + & {
    & > :first-child {
      margin-block-start: var(--space-m-l);
    }
  }

  @nest error-summary > & {
    list-style-type: none;
    margin-block-start: var(--space-3xs-2xs);
    padding-inline-start: 0;
  }
}

dl {
  @nest header > & {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--space-s-m);
    row-gap: var(--space-3xs);
    margin-block-start: var(--space-3xs-2xs);
    font-size: var(--step--2);

    & > div {
      display: flex;
      column-gap: var(--space-3xs-2xs);
    }
  }
}

dt {
  @nest header & {
    font-weight: 700;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

table {
  font-size: var(--step--1);
  margin-block-start: var(--space-s-m);
  border-spacing: 0;
  inline-size: 100%;
}

caption {
  margin-block-end: var(--space-2xs-xs);
  text-align: start;
}

td,
th {
  padding-block: var(--space-3xs-2xs);
  border-block-end: var(--width-divider-narrow) solid var(--color-divider);
  vertical-align: baseline;
}

th {
  text-align: center;

  &[scope='row'] {
    font-weight: 500;
    min-inline-size: 12rem;
    text-align: start;
  }

  @nest & + & {
    padding-inline-start: var(--space-2xs-s);
  }
}

td {
  text-align: end;
  font-variant-numeric: tabular-nums;

  @nest th + & {
    padding-inline-start: var(--space-s-m);
  }

  @nest & + & {
    padding-inline-start: var(--space-2xs-s);
  }
}

p {
  hyphens: auto;
  margin-block-start: var(--space-xs);
}

blockquote {
  margin-block-start: var(--space-xs-s);
}

details {
  margin-block-start: var(--space-2xs-xs);

  @nest [role='note'] + & {
    margin-block-start: var(--space-xs-s);
  }

  & > div {
    position: relative;
    padding-inline-start: var(--space-s);

    &::before {
      position: absolute;
      content: '';
      border-inline-start: var(--width-divider) solid var(--color-divider-light);
      block-size: 100%;
      inset-inline-start: calc((0.6em - var(--width-divider)) / 2);
    }
  }
}

summary {
  cursor: pointer;
  inline-size: fit-content;
  touch-action: manipulation;
}

dfn {
  font-style: normal;
}

small {
  font-size: inherit;
}

sub {
  vertical-align: baseline;
  font-size: 50%;
  line-height: 0;

  @supports (font-variant-position: sub) {
    font-size: inherit;
    font-variant-position: sub;
  }
}

sup {
  position: relative;
  inset-block-start: -0.5em;
  vertical-align: baseline;
  font-size: 70%;
  line-height: 0;

  @supports (font-variant-position: super) {
    position: static;
    font-size: inherit;
    font-variant-position: super;
  }
}

label {
  cursor: pointer;
  touch-action: manipulation;

  @nest :not(:--heading) > & {
    display: block;
    inline-size: fit-content;
    margin-block-start: var(--space-m);
  }

  &:not([for]) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &.textarea {
      inline-size: 100%;
    }

    & span {
      flex: 1;
    }

    & > :is([type='checkbox'], [type='radio']) {
      margin-inline-end: var(--space-2xs-xs);
    }

    @nest li > & + [role='note'] {
      margin-inline-start: calc(var(--space-m) + var(--space-2xs-xs));
    }

    @nest fieldset > &, fieldset :not(.conditional) > & {
      margin-block-start: var(--space-s);
    }

    @nest details + & {
      margin-block-start: var(--space-m-l);
    }
  }
}

:--button {
  position: relative;
  display: inline-block;
  font-size: var(--step-1);
  font-weight: 700;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-decoration-line: none;
  line-height: 1.5;
  letter-spacing: -0.025em;
  min-inline-size: 4em;
  color: var(--color-link-dark);
  border: var(--width-divider) solid var(--color-link-dark);
  border-radius: var(--radius-divider);
  transform: translateZ(0);
  padding-block: var(--space-2xs);
  padding-inline: var(--space-xs);
  touch-action: manipulation;
  user-select: none;

  @nest :not(.button-group) > & {
    margin-block-start: var(--space-m-l);
  }

  &::after {
    position: absolute;
    content: '';
    background-clip: padding-box;
    background-color: var(--color-link);
    border: 0 solid transparent;
    border-block-end-width: var(--width-divider);
    border-radius: var(--radius-divider);
    z-index: -1;
    inset: 0;
    inset-block-end: calc(-1 * var(--width-divider));
  }

  &:focus {
    user-select: auto;
  }

  &:focus-visible {
    outline-offset: 0;
  }

  &:is([aria-disabled='true']) {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not([aria-disabled='true']) {
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(1.1);
    }
  }

  @media screen {
    color: var(--color-background);
    background-color: var(--color-link-dark);
    -webkit-tap-highlight-color: transparent;
    border: 0 solid transparent;
    border-block-end-width: var(--width-divider);

    &:active {
      margin-block-end: calc(var(--width-divider) / 2);
      inset-block-start: calc(var(--width-divider) / 2);
      border-block-end-width: calc(var(--width-divider) / 2);
    }
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: var(--space-2xs-s);
  row-gap: var(--space-2xs-xs);
  margin-block-start: var(--space-m-l);

  @nest p + & {
    margin-block-start: var(--space-xs);
  }

  @nest .preview + & {
    margin-block-start: var(--space-s);
  }

  & :any-link:not(.button) {
    padding-block: var(--space-4xs-3xs);
    padding-inline: var(--space-4xs-3xs);
  }
}

[role='toolbar'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-block-start: var(--space-s);
  gap: var(--space-2xs);

  & > [role='group'] {
    display: inline-flex;
    align-items: center;
  }
}

:--toggle-button {
  color: var(--color-text);
  padding: var(--space-4xs-3xs);
  background-color: var(--color-background);
  border: var(--width-divider) solid currentcolor;
  block-size: var(--space-l);
  touch-action: manipulation;
  user-select: none;

  @nest [role='group'] > & {
    &:not(:last-child) {
      margin-inline-end: calc(-1 * var(--width-divider));
    }
  }

  &:focus-visible {
    position: relative;
    outline-offset: 0;
  }

  &:is([aria-disabled='true']) {
    cursor: not-allowed;

    & img {
      opacity: 0.5;
    }
  }

  &:not([aria-disabled='true']) {
    cursor: pointer;
  }

  &:is([aria-pressed='false']) {
    border-block-width: var(--width-divider) var(--width-divider-wide);
  }

  &:is([aria-pressed='true']) {
    background-color: var(--color-pressed);
    border-block-width: var(--width-divider-wide) var(--width-divider);
  }

  & img {
    block-size: 100%;
  }
}

.error-message {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-block-start: var(--space-3xs);
  color: var(--color-error);

  @nest :not(label) + & {
    margin-block-start: var(--space-s);
  }

  @nest details + & {
    margin-block-start: var(--space-m-l);
  }
}

[role='alert'] {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & :any-link {
    color: var(--color-error);
  }
}

[role='note'] {
  font-size: var(--step-0);
  margin-block-start: var(--space-4xs-3xs);
  color: var(--color-text-light);

  @nest fieldset > & {
    margin-block-start: var(--space-xs);
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  margin-block-start: var(--space-s-m);
}

legend {
  float: inline-start;
}

error-summary {
  display: block;
  margin-block-start: var(--space-s-l);
  padding-block: var(--space-2xs-xs);
  padding-inline: var(--space-s);
  border: var(--width-divider-wide) solid var(--color-error);

  &:focus {
    @media screen {
      outline: var(--color-focus) solid var(--width-divider);
      outline-offset: 0;
    }
  }

  & > :first-child {
    margin-block-start: 0;
  }
}

.error {
  @nest error-summary + & {
    margin-block-start: var(--space-s-l);
  }

  @media screen {
    padding-inline-start: var(--space-s);
    border-inline-start: var(--width-divider-wide) solid var(--color-error);
  }
}

.inset {
  @media screen {
    margin-block-start: var(--space-s);
    padding: var(--space-s);
    border-inline-start: var(--width-divider-wide) solid var(--color-divider);

    & > :first-child {
      margin-block-start: 0;
    }
  }
}

:--input {
  font: inherit;
  color: inherit;
  background-color: var(--color-background);
  border: var(--width-divider) solid currentcolor;
  border-radius: 0;
  padding-block: var(--space-3xs);
  padding-inline: var(--space-2xs);
  max-inline-size: 100%;
  max-block-size: 30vb;

  &:not([hidden]) {
    display: block;
  }

  &:not([size]) {
    inline-size: 100%;
  }

  &:focus-visible {
    outline-offset: 0;
  }

  &:is([aria-invalid]) {
    border-color: var(--color-error);

    &:focus-visible {
      border-color: currentcolor;
    }
  }

  @nest :not(label) > &:where(:first-child) {
    margin-block-start: var(--space-s-m);
  }

  @nest .error-message + & {
    margin-block-start: var(--space-3xs);
  }

  @nest label + & {
    margin-block-start: var(--space-4xs);
  }

  @nest [role='toolbar'] + & {
    margin-block-start: var(--space-2xs);
  }

  &:read-only {
    cursor: not-allowed;
  }

  @media screen {
    max-block-size: 75vb;

    @media (min-width: 50em) {
      max-block-size: 50vb;
    }
  }
}

html-editor {
  position: relative;
  display: block;

  & :--textarea {
    block-size: 100vb;
    min-block-size: var(--space-3xl);
    resize: none;
  }

  @nest details + & {
    margin-block-start: var(--space-m-l);
  }

  & > .loading {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    background-color: var(--color-background);
    border: var(--width-divider) solid currentcolor;
    z-index: 1;
    user-select: none;
    row-gap: var(--space-2xs-xs);
    padding-block: var(--space-l-xl) var(--space-s-m);
    padding-inline: var(--space-m-xl);
    inset: 0;

    @media (prefers-reduced-motion: no-preference) {
      &::before {
        content: '';
        border: var(--width-divider-wide) solid var(--color-text);
        border-radius: 50%;
        animation: rotation 1s linear infinite;
        border-inline-end-color: transparent;
        inline-size: var(--space-m-l);
        block-size: var(--space-m-l);
      }
    }
  }
}

:--textarea {
  overflow-y: auto;
  resize: block;
  cursor: text;
  scrollbar-gutter: stable;

  & > :first-child {
    margin-block-start: 0;
  }
}

.conditional {
  position: relative;
  margin-block-start: var(--space-2xs);
  padding-inline-start: calc(var(--space-m) + var(--space-2xs-xs));

  &::before {
    position: absolute;
    content: '';
    border-inline-start: var(--width-divider) solid var(--color-text-light);
    block-size: 100%;
    inset-inline-start: calc((var(--space-m) - var(--width-divider)) / 2);
  }

  & label {
    margin-block-start: 0;
  }
}

[type='checkbox'],
[type='radio'] {
  appearance: none;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentcolor;
  background-color: var(--color-background);
  border: var(--width-divider) solid currentcolor;
  cursor: pointer;
  inline-size: var(--space-m);
  block-size: var(--space-m);

  &::before {
    content: '';
    inline-size: calc(100% - (var(--width-divider) * 2));
    block-size: calc(100% - (var(--width-divider) * 2));
    background-color: transparent;
  }

  &:focus {
    @media screen {
      outline: var(--color-focus) solid var(--width-divider);
      outline-offset: 0;
    }
  }

  &:checked::before {
    background-color: currentcolor;
  }

  &:focus-visible {
    outline-offset: 0;
  }
}

[type='checkbox'] {
  &::before {
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
}

[type='radio'] {
  border-radius: 50%;

  &::before {
    border-radius: 50%;
  }
}

.doi {
  font-family: var(--font-monospace);
  user-select: all;
}

.back {
  display: inline-flex;
  align-items: center;
  font-size: var(--step--1);

  &::before {
    content: '‹\00a0';
  }

  &:any-link {
    color: inherit;
  }

  @media print {
    display: none;
  }
}

.forward {
  display: inline-flex;
  align-items: center;
  font-size: var(--step--1);

  &::after {
    content: '\00a0›';
  }

  &:any-link {
    color: inherit;
  }

  @media print {
    display: none;
  }
}

.byline {
  margin-block-start: var(--space-2xs);
  font-size: var(--step--1);
  font-style: italic;

  & :any-link {
    text-decoration-line: inherit;
    color: inherit;

    &:hover {
      text-decoration-line: underline;
    }
  }
}

.summary-list {
  margin-block-start: var(--space-m);
  list-style-type: none;
  padding-inline-start: 0;

  & > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    column-gap: var(--space-s-m);
    border-block-end: var(--width-divider-narrow) solid var(--color-divider);
    padding-block: var(--space-3xs-2xs);

    & > :not(a) {
      flex-grow: 1;
    }

    @media (min-width: 40em) {
      flex-wrap: nowrap;
    }
  }

  & + * {
    margin-block-start: var(--space-l);
  }
}

.panel {
  font-size: var(--step-1);
  text-align: center;
  line-height: 1.25;
  padding: var(--space-xs-m);
  border: var(--width-divider) solid transparent;

  & > :first-child {
    margin-block-start: 0;
  }

  @media print {
    border-color: var(--color-success);
  }

  @media screen {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-background);
    background-color: var(--color-success);
  }
}

.preview {
  font-size: var(--step--1);
  border: var(--width-divider) solid currentcolor;
  padding-block: var(--space-3xs);
  padding-inline: var(--space-2xs);

  &:focus-visible {
    outline-offset: 0;
  }

  & > :first-child {
    margin-block-start: 0;
  }

  @media screen {
    max-block-size: 75vb;
    overflow-y: auto;
    scrollbar-gutter: stable;

    @media (min-width: 50em) {
      max-block-size: 50vb;
    }
  }
}

skip-link {
  display: contents;

  & :any-link {
    position: fixed;
    color: var(--color-text);
    background-color: var(--color-focus);
    z-index: 999;
    inset-inline: 0;
    padding-block: var(--space-2xs) var(--space-xs);
    padding-inline: var(--space-s-m);
    inline-size: fit-content;
    margin-inline: auto;

    &:focus-visible {
      outline-offset: 0;
      outline-color: transparent;
    }

    &:not(:active, :focus) {
      position: fixed;
      white-space: nowrap;
      overflow: hidden;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      block-size: 1px;
      inline-size: 1px;
    }

    &:not(:hover) {
      text-decoration-line: none;
    }
  }
}

.cards {
  list-style-type: none;
  margin-block-start: var(--space-m-l);
  padding-inline-start: 0;

  > li {
    text-align: initial;
  }

  & article {
    position: relative;
    padding-block: var(--space-xs);
    padding-inline: var(--space-s);
    inline-size: 100%;

    & > header {
      & > :not(.visually-hidden):first-child,
      & > .visually-hidden:first-child + * {
        margin-block-start: 0;
      }

      & + :not(.visually-hidden) {
        margin-block-start: var(--space-xs);
      }
    }
  }

  & h2 {
    font-size: var(--step-3);
  }

  & a {
    &::after {
      position: absolute;
      inset: 0;
      content: '';
      border: var(--width-divider) solid var(--color-divider-light);
      border-radius: var(--radius-divider);
    }

    &:hover::after {
      border-color: var(--color-divider);
    }

    &:focus-visible {
      outline-width: 0;

      &::after {
        @media screen {
          border-color: var(--color-divider);
          outline: var(--color-focus) solid var(--width-divider);
        }
      }
    }
  }
}

.more {
  margin-block-start: var(--space-xs);
  display: inline-flex;
  align-items: center;

  &::before {
    order: 1;
    content: '\00a0›';
  }

  &:any-link {
    color: inherit;
  }
}

.two-up {
  @media screen and (min-width: 50em) {
    & > * {
      margin-inline-start: 50%;
    }

    & > :not(.contents) {
      inline-size: calc(50% - var(--space-m-xl));
      margin-inline-start: calc(50% + var(--space-m-xl) - var(--space-s-m));
    }

    & > .contents {
      & > main {
        &,
        & > :first-child {
          margin-block-start: 0;
        }
      }

      & > :not(aside) {
        inline-size: calc(100% - var(--space-m-xl));
        margin-inline-start: calc(var(--space-m-xl) - var(--space-s-m));
      }

      & > aside > * {
        inline-size: calc(100% - var(--space-m-xl));
        margin-inline-end: calc(var(--space-m-xl) - var(--space-s-m));
      }

      & > aside {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        inset-block: 0;
        inset-inline: 0 50%;
        background-color: var(--color-background-alt);
        overflow-y: auto;
        overscroll-behavior-y: contain;
        scrollbar-gutter: stable;
        padding-block: var(--space-m) var(--space-xl-2xl);

        &:focus-visible {
          outline-offset: calc(-1 * var(--width-divider));
        }
      }
    }
  }
}

.phase-banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: var(--space-2xs);
  background-color: var(--color-background-alt);
  padding-block: var(--space-2xs);
  padding-inline: var(--space-2xs-s);
  margin-inline: calc(-1 * var(--space-2xs-s));

  & > span {
    flex: 1;
    font-size: var(--step--1);
  }

  @media screen {
    @media (forced-colors: active) {
      border-block-end: var(--width-divider-narrow) solid currentcolor;
    }
  }
}

.tag {
  display: inline-block;
  font-size: var(--step--2);
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--color-background);
  background-color: var(--color-primary);
  padding-block: var(--space-4xs);
  padding-inline: var(--space-3xs-2xs);

  @media screen {
    @media (forced-colors: active) {
      border: var(--width-divider-narrow) solid currentcolor;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
