export type SupportedLocale = '{{defaultLocale}}'

export const DefaultLocale: SupportedLocale = '{{defaultLocale}}'

export const isSupportedLocale = (locale: string): locale is SupportedLocale =>
  locale === '{{defaultLocale}}'
