{{#locales}}
  import * as l{{@key}} from './{{module}}/{{.}}.js'
{{/locales}}

const translations = {
{{#locales}}
  '{{.}}': l{{@key}},
{{/locales}}
}

type SupportedLocale = keyof typeof translations

type Translations = typeof translations['{{defaultLocale}}']

export const translate{{moduleName}} =
  (locale: SupportedLocale) =>
  <K extends keyof Translations>(key: K, ...args: Parameters<Translations[K]>): string => {
    if (key in translations[locale]) {
      // @ts-ignore
      return translations[locale][key](...args)
    }
    // @ts-ignore
    return translations['{{defaultLocale}}'][key](...args)
  }
