export type SupportedLocale = {{#locales}}| '{{.}}'{{/locales}}

export const DefaultLocale: SupportedLocale = '{{defaultLocale}}'

export const isSupportedLocale = (locale: string): locale is SupportedLocale =>
  [{{#locales}}'{{.}}', {{/locales}}].includes(locale)
