/* @link https://utopia.fyi/space/calculator?c=320,20,1.2,1600,24,1.25,5,2,&s=0.75|0.75|0.75,1.5|1.5, */

:root {
  --space-3xs: clamp(0.94rem, calc(0.89rem + 0.23vw), 1.13rem);
  --space-2xs: clamp(0.94rem, calc(0.89rem + 0.23vw), 1.13rem);
  --space-xs: clamp(0.94rem, calc(0.89rem + 0.23vw), 1.13rem);
  --space-s: clamp(1.25rem, calc(1.19rem + 0.31vw), 1.5rem);
  --space-m: clamp(1.88rem, calc(1.78rem + 0.47vw), 2.25rem);
  --space-l: clamp(1.88rem, calc(1.78rem + 0.47vw), 2.25rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.94rem, calc(0.89rem + 0.23vw), 1.13rem);
  --space-2xs-xs: clamp(0.94rem, calc(0.89rem + 0.23vw), 1.13rem);
  --space-xs-s: clamp(0.94rem, calc(0.8rem + 0.7vw), 1.5rem);
  --space-s-m: clamp(1.25rem, calc(1rem + 1.25vw), 2.25rem);
  --space-m-l: clamp(1.88rem, calc(1.78rem + 0.47vw), 2.25rem);
}
