@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://unpkg.com/open-color@1.9.1/open-color.css');
@import url('space.css');
@import url('step.css');

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  block-size: 1px;
  inline-size: 1px;
}

*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

:root {
  --font-sans-serif: 'IBM Plex Sans', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue',
    'Noto Sans', 'Liberation Sans', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --color-background: white;
  --color-text: var(--oc-gray-8);
  --color-focus: var(--oc-yellow-7);
  --color-link: var(--oc-blue-6);
  --color-link-dark: var(--oc-blue-8);
  --color-divider: var(--oc-gray-3);
  --color-divider-light: var(--oc-gray-1);
  --width-divider: 4px;

  font-family: var(--font-sans-serif);
  font-weight: 400;
  line-height: 1.4;
}

@media screen {
  :not(input, button):focus-visible {
    outline-offset: var(--width-divider);
  }

  :focus-visible {
    outline: var(--color-focus) solid var(--width-divider);
  }
}

:any-link {
  color: var(--color-link);
}

@media screen {
  :any-link {
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.08rem);
    text-underline-offset: 0.1em;
  }

  :any-link:hover {
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    text-decoration-skip-ink: none;
    text-decoration-skip: none;
  }
}

@media screen {
  html {
    color: var(--color-text);
    background-color: var(--color-background);
    block-size: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-block-end: var(--space-m);
  font-size: var(--step-0);
}

@media screen {
  body {
    min-block-size: 100%;
    min-inline-size: 320px;
  }
}

body > * {
  inline-size: 100%;
  max-inline-size: 100rem;
  margin-inline: auto;
  padding-inline: var(--space-m);
}

nav {
  margin-block-start: var(--space-m);
}

article {
  margin-block-start: var(--space-l);
}

h1,
h2 {
  font-weight: 700;
  line-height: 1.2;
  margin-block-start: var(--space-m);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

ol,
ul {
  margin-block-start: var(--space-s);
  padding-inline-start: var(--space-m);
}

p {
  hyphens: auto;
  margin-block-start: var(--space-xs);
}

label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  inline-size: fit-content;
  cursor: pointer;
  touch-action: manipulation;
  margin-block-start: var(--space-m);
}

button {
  display: inline-block;
  font-size: var(--step-1);
  font-weight: 700;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-decoration-line: none;
  line-height: 1.5;
  letter-spacing: -0.5px;
  white-space: nowrap;
  color: var(--color-link-dark);
  border: var(--width-divider) solid var(--color-link-dark);
  border-radius: calc(var(--width-divider) * 5);
  cursor: pointer;
  transform: translateZ(0);
  transition: filter 0.2s;
  padding-block: var(--space-2xs);
  padding-inline: var(--space-xs);
  touch-action: manipulation;
  user-select: none;
}

@media screen {
  button {
    color: var(--color-background);
    background-color: var(--color-link-dark);
    border: 0 solid transparent;
    border-block-end-width: var(--width-divider);
  }

  button::after {
    position: absolute;
    content: '';
    background-clip: padding-box;
    background-color: var(--color-link);
    border: 0 solid transparent;
    border-block-end-width: 4px;
    border-radius: 16px;
    z-index: -1;
    inset: 0;
    inset-block-end: -4px;
  }
}

:not(button) + button {
  margin-block-start: var(--space-l);
}

button:focus {
  user-select: auto;
}

button:hover {
  filter: brightness(1.1);
}

[type='text'] {
  font: inherit;
  color: inherit;
  background-color: var(--color-background);
  border: var(--width-divider) solid currentcolor;
  border-radius: 0;
  padding-block: var(--space-3xs);
  padding-inline: var(--space-2xs);
  inline-size: 100%;
}

.back {
  display: inline-flex;
  align-items: center;
}

.back:any-link {
  color: inherit;
}

.back::before {
  content: '‹\00a0';
}

@media print {
  .back {
    display: none;
  }
}

.author-list {
  display: flow-root;
  font-style: italic;
  padding-inline-start: 0;
}

.author-list > li {
  display: inline-flex;
  align-items: center;
}

.author-list > li:not(:last-child)::after {
  content: ', ';
}

.cards {
  list-style-type: none;
  padding-inline-start: 0;
}

.cards article {
  position: relative;
  padding-block: var(--space-xs);
  padding-inline: var(--space-s);
  inline-size: 100%;
}

.cards article > :first-child {
  margin-block-start: 0;
}

.cards h2 {
  font-size: var(--step-3);
}

.cards a::after {
  position: absolute;
  inset: 0;
  content: '';
  border: var(--width-divider) solid var(--color-divider-light);
  border-radius: calc(var(--width-divider) * 5);
}

.cards a:hover::after {
  border-color: var(--color-divider);
}

.cards a:focus-visible {
  outline-width: 0;
}

@media screen {
  .cards article a:focus-visible::after {
    border-color: var(--color-divider);
    outline: var(--color-focus) solid var(--width-divider);
  }
}

.more {
  margin-block-start: var(--space-xs);
  display: inline-flex;
  align-items: center;
}

.more:any-link {
  color: inherit;
}

.more::before {
  order: 1;
  content: '\00a0›';
}
